header{
    
    background-image: url(./B10A1-Challenge-Begins/assets/Hero-bg.png);
}
.header-section{
    display: flex;
    justify-content: center;
    gap: 750px;
}
.button-a{
    /* background:#FFF ; */
    color:#0D1321 ;
    border-radius: 5px;
    margin-top: 18px;
    background-color: #FFF;
}
.header-contianer{
   text-align: center;
}
.button-c{
    background: #0D1321;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.main-section{
    text-align: center;
}
.cards{
    /* display: flex; */
   /* fiex-wrap */
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.card-1{
    /* display: flex; */
    justify-content: center;

    /* gap: 20px; */
    background: #FFF;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section-1{
    text-align: center;
    margin-top: 90px;
}
.section-2{
    text-align: center;
    margin-top: 50px;
    /* border: #ffffff; */
}

.section-3{
    
}